<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://ultraq.net.nz/thymeleaf/layout">
<head>
	<meta charset="UTF-8">
</head>
<body>
	<div th:fragment="attendList_contents">
		<div class="page-header">
			<h1>ユーザー一覧</h1>
		</div>
		<table class="table table-bordered table-hover table-striped">
			<tr>
				<th class="info col-sm">社員番号</th>
				<th class="info col-sm">氏名</th>
				<th class="info col-sm">出勤日</th>
				<th class="info col-sm">出社</th>
				<th class="info col-sm">退社</th>
				<th class="info col-sm">遅刻</th>
				<th class="info col-sm">早退</th>
				<th class="info col-sm">残業</th>
				<th class="info col-sm">実働</th>
				<th class="info col-sm">状況</th>
				<th class="info col-sm">備考</th>
			</tr>
			<tr th:each="attend:${attendList}">
				<td th:text="${attend.employeeId}"></td>
				<td th:text="${attend.userName}"></td>
				<td th:text="${#temporals.format(attend.workDay, 'YYYY/MM/dd')}"></td>
				<td th:text="${attend.startWork}"></td>
				<td th:text="${attend.endWork}"></td>
				<td th:text="${attend.lateness}"></td>
				<td th:text="${attend.leaveEarly}"></td>
				<td th:text="${attend.overtime}"></td>
				<td th:text="${attend.workingTime}"></td>
				<td th:text="${attend.status}"></td>
				<td th:text="${attend.remarks}"></td>
			</tr>
		</table>
		<a th:href="@{'/individualAttendList/excel'}">
			<button class="btn btn-primary btn-lg pull-right">Excel出力</button>
		</a>
	</div>
</body>
</html>